.slider1{
    height:600px;
    margin-top: 200px;
    color: white;
    
}
.slider1 h1{
display: flex;
justify-content: center;
margin-top: 50px;
position: absolute;
transform: translate(450px,200px);
font-size: 55px;



}

.slider2{
    height:600px;
    margin-top: 200px;
    color: white;
}
.slider2 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
position: absolute;
transform: translate(450px,200px);
font-size: 55px;
    
    
    
    
    }
.slider3{
    height:600px;
    margin-top: 200px;
    color: white;
    align-items: center;
}

.slider3 h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
  
position: absolute;
transform: translate(450px,200px);
font-size: 55px;
    
    
    }